<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button>
        Modifier
      </ion-button>

    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="create"/>
   </ion-buttons>

  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="large">Chat</ion-title>
</ion-toolbar>
  <ion-toolbar>
      <ion-searchbar></ion-searchbar>
  </ion-toolbar>


  <ion-item>
    <ion-button slot="start" size="small" fill="clear">
      Liste de diffussion
    </ion-button>
    <ion-button slot="end" size="small" fill="clear">
      nouveau groupe
    </ion-button>
  </ion-item>

  <ion-item detail routerLink ="/conversation">
    <ion-avatar>
      <img src="../../assets/icon/favicon.png"/>
    </ion-avatar>
    <ion-label>
      <div  class="flex-box">
        <h2>Fin</h2>
        <ion-note slot="end">16:20</ion-note>
      </div>
      <p ><ion-icon class="text-icon" color="primary"></ion-icon>Bonjour Mr/Mme</p>
    </ion-label>
  </ion-item>


  <ion-item detail routerLink ="/conversation">
    <ion-avatar>
      <img src="../../assets/icon/favicon.png"/>
    </ion-avatar>
    <ion-label>
      <div  class="flex-box">
        <h2>Fin</h2>
        <ion-note slot="end">17:00</ion-note>
      </div>
      <p ><ion-icon class="text-icon" color="primary"></ion-icon>TC M1 ...</p>
    </ion-label>
  </ion-item>


  <ion-item detail routerLink ="/conversation">
    <ion-avatar>
      <img src="../../assets/icon/favicon.png"/>
    </ion-avatar>
    <ion-label>
      <div  class="flex-box">
        <h2>Fin</h2>
        <ion-note slot="end">17:01</ion-note>
      </div>
      <p ><ion-icon class="text-icon" color="primary"></ion-icon>Salut...</p>
    </ion-label>
  </ion-item>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
