p{
  color: black;
}
h2 {
  font-weight: 600;
  font-size: 12px;

}
.flex-box{
  display: flex;
  justify-content: space-between;

}
ion-avatar{
  width: 45px;
  height: 35px;
}

ion-note{
  size:15px;
}
